---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import { wpquery } from "graphql/wordpress";
import Main from "@layouts/Main.astro";
import Posts from "@layouts/Posts.astro";
import Datetime from "@components/Datetime";
import Pagination from "@components/Pagination.astro";
import Footer from "@components/Footer.astro";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import getSortedPosts from "@utils/getSortedPosts";
import type { Post } from "types";

// https://docs.astro.build/en/guides/routing/#the-page-prop

export const getStaticPaths = (async ({ paginate }) => {



const data = await wpquery({
  query: `
  {
  posts {
    nodes {
      date
      modified
      uri
      title
      slug
      author {
        node {
          name
        }
      }
      commentCount
      excerpt
      categories {
        nodes {
          name
          uri
        }
      }
      featuredImage {
        node {
          srcSet
          sourceUrl
          altText
          mediaDetails {
            height
            width
          }
        }
      }
    }
  }
}
  `,
});

  return paginate(data.posts.nodes, { pageSize: 2 })


}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout title={`Posts | ${SITE.title}`}>
  <Header activeNav="blog" />
  <Main pageTitle="Posts" pageDesc="All the articles I've posted.">
        <ul>
          <div class="lg:grid-cols-3 grid gap-8 sm:grid-cols-2">
            {page.data.map((post: any) => {
              return (
                <li class="">
                  <div class="max-w-sm overflow-hidden rounded">
                    <img
                      class="w-full"
                      src={post.featuredImage?.node.mediaItemUrl}
                      srcset={post.featuredImage?.node.srcSet}
                      sizes={post.featuredImage?.node.sizes}
                      alt={post.featuredImage?.node.altText}
                    />

                    <div class="py-4">
                      <Datetime
                        pubDatetime={String(post.date)}
                        modDatetime={post.modified}
                      />
                      <a href={`/blog/${post.slug}`}>
                        <h3 class="inline-block text-lg mt-2 font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0">
                          {post.title}
                        </h3>
                      </a>
                      <p
                        set:html={post.excerpt}
                        class="text-skin-soft mb-5 line-clamp-3"
                      />
                    </div>
                    {/* <div class="px-6 pb-2 pt-4">
                    <span class="mb-2 mr-2 inline-block rounded-full bg-gray-200 px-3 py-1 text-sm font-semibold text-gray-700">
                      #photography
                    </span>
                    <span class="mb-2 mr-2 inline-block rounded-full bg-gray-200 px-3 py-1 text-sm font-semibold text-gray-700">
                      #travel
                    </span>
                    <span class="mb-2 mr-2 inline-block rounded-full bg-gray-200 px-3 py-1 text-sm font-semibold text-gray-700">
                      #winter
                    </span>
                  </div> */}
                  </div>
                </li>
              );
            })}
          </div>
        </ul>
 
      <!-- {
        page.data.map(({ data, slug }) => (
          <Card href={`/posts/${slug}/`} frontmatter={data} />
        ))
      } -->

  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
  
</Layout>